.cart{
    text-align: center;
}

.cart .titleDiv{
    display:flex;
    justify-content: center;
    text-transform: uppercase;
    align-items:center;
    font-size: 4rem;
    color:white;
    letter-spacing: 4px;
    border-bottom: 10px solid orange;
}

.cart .divCart{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 100%;
    background-color:rgba(255, 145, 0, 0.699);
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 15px 15px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.658);}

.cart .divCart .listCart{
    font-weight: bold;
    font-size:3rem;
    margin: 10px;
    letter-spacing: 3px;
}

.cart .divCart .listCart .title .icon{
    font-size:8rem;
    margin: 10px;
    border: solid black 3px;
}