.Cart {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100vh;
    width: 27%;
    position: fixed;
    right: -30%;
    top: 0;
    z-index: 2;
    box-shadow: -0.3rem 0 0.3rem rgba(0, 0, 0, 0.2);
    transition: right 0.5s;
    border-radius: 40px 0px 40px 0px;
    border:solid 2px black;
    background: linear-gradient(to right, rgba(78, 78, 78, 0.979) 0%, rgb(37, 37, 37) 100%);
}

.Cart .bottonSideCart{
    flex:6%;
    display:flex;
    align-self: flex-end;
    width: 10%;
}

.Cart .bottonSideCart .closeButton{
    width: 100%;
    height: 40%;
    margin:10px;
    font-weight: bolder;
    color:white;
    border:0;
    background-color: black;
    cursor: pointer;
    font-size:1rem;
}

.Cart .centerSideCart{
    display:flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    width: 95%;
    flex:90%;
    border:3px solid rgb(38, 39, 38);
    border-radius:2%;
}

.Cart .centerSideCart:hover{
    background: linear-gradient(to right, rgba(158, 157, 157, 0.61) 0%, rgba(204, 203, 203, 0.568) 100%);
}

.Cart .centerSideCart .mapDiv{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    height: 100%;
}

.Cart .centerSideCart .mapDiv .itemDiv{
    margin:2px;
    border:1px solid rgb(44, 43, 41);
    display:flex;
    justify-content: center;
    align-items: flex-start;
    border-radius:3%;
    background: linear-gradient(to right, rgb(252, 178, 42) 0%, rgb(253, 172, 21) 100%);
}

.Cart .centerSideCart .mapDiv .itemDiv .infoLeft{
    flex:50%;
    border-radius:4%;
}

.Cart .centerSideCart .mapDiv .itemDiv .infoLeft .imgDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    border-radius:4%;
}

.Cart .centerSideCart .mapDiv .itemDiv .infoLeft .imgDiv img{
    border-radius:4%;
    border:2px solid rgb(255, 255, 255)
}

.Cart .centerSideCart .mapDiv .itemDiv .infoRigt{
    flex:100%;
}

.Cart .centerSideCart .mapDiv .itemDiv .infoRigt .containerInfo{
    text-align: center;
    font-size:1.1rem;
}

.Cart .centerSideCart .mapDiv .itemDiv .infoRigt .containerInfo .titleDiv{
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    flex:50%;
    background-color:rgb(58, 57, 57);
    color:white;
    padding:4px;
    height: 60px;
}

.Cart .centerSideCart .mapDiv .itemDiv .infoRigt .containerInfo .detailDiv{
    letter-spacing: 2px;
    flex-direction: column;
    flex:50%;
    margin:2px 0px 2px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.3rem;
}

.Cart .centerSideCart .emptyCart{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    font-size:3rem ;
}

.Cart .centerSideCart .emptyCart .iconCart{
    font-size:7rem;
    margin: 10px;
}

.Cart .totalPriceDiv{
    flex:4%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.Cart .buttonsContainer{
    display:flex;
    flex-direction: column;
    margin:5px;
    width: 100%;
    display:fex;
    justify-content:center;
    align-items:center; 
}

.Cart .buttonsContainer .button{
    background-color: var(--color-principal);
    font-family: "Teko", sans-serif;
    color:white;
    font-size:1.5rem ;
    border-radius:8px;
    border-width: 1px;
    width: 80%;
    margin:2px;
}

.Cart .buttonsContainer .button:hover{
    background:rgb(230, 149, 28);
}

.close {
    right: -30%;
}

.open {
    right: 0;
}