.container {
    width: 100%;
    max-width: 1800px;
    margin: auto;
    max-height: 100vh;
    height: 100%;
}


.itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px;
}

.divItems{
    display: flex;
    flex-wrap: wrap;
    padding: 10px; ;
    border-radius: 10px;
    justify-content: center;
    align-items:center;
}
.divItems:hover{
    background-color: rgba(141, 141, 141, 0.089);
}

.container .itemContainer .loadScreen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.8rem;
    margin:100px;
    color: white;
}

.container .itemContainer .loadScreen .pulseDiv{
    width: 300px;
    height: 90px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.loader {
    border: 16px solid #8b8b8b;
    border-top: 16px solid #f8aa00;
    border-bottom: 16px solid #f8aa00;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }