.container {
    width: 100%;
    max-width: 1800px;
    margin: auto;
    max-height: 100vh;
    height: 100%;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px;
}

.divItems{
    display: flex;
    flex-wrap: wrap;
    padding: 10px; ;
    border-radius: 10px;
    justify-content: center;
    align-items:center;
}
.divItems:hover{
    background-color: rgba(141, 141, 141, 0.089);
}

