.container {
    width: 100%;
    max-width: 1800px;
    margin: auto;
    max-height: 100vh;
    height: 100%;
}

.itemContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 10px;
}

.divItems{
    display: flex;
    flex-wrap: wrap;
    padding: 10px; ;
    border-radius: 10px;
    justify-content: center;
    align-items:center;
}
.divItems:hover{
    background-color: rgba(141, 141, 141, 0.089);
}

.container .itemContainer .loadScreen{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.8rem;
    margin:100px;
    color: white;
}

.container .itemContainer .loadScreen .pulseDiv{
    width: 300px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.pulse {
    margin:20px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #ffc800;
    cursor: pointer;
    box-shadow: 0 0 0 rgb(226, 155, 0);
    animation: pulse 1s infinite;
    }
    
    @keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(209, 164, 0, 0.63);}
    70% {
        box-shadow: 0 0 0 10px rgba(190, 149, 0, 0.158);}
    100% {
        box-shadow: 0 0 0 0 rgba(155, 121, 0, 0);}
    }