.containerCount {
    
}

.containerCount .divCount {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.containerCount .divCount input{
    font-size: 1.5rem;
    border-width: 1px;
    font-weight: bolder;    
    text-align: center;
    width: 100px;
}
.containerCount .divCount .buttonCount{
    background-color: var(--color-principal);
    color: white;
    border-radius:4px;
    border-width: 1px;
    width: 20px;
    height: 20px;
    margin: 5px 0px 5px 0px;
}

.containerCount .divCount .buttonCount:disabled{
    background-color:grey;
    color: rgb(83, 83, 83);
}

.containerCount .buttonAddItem{
    background-color: var(--color-principal);
    font-family: "Teko", sans-serif;
    font-size:1.8rem;
    color:white;
    border-radius:8px;
    border-width: 1px;
    width: 200px;
    height: 30px;
    margin: 10px 0px 10px 0px;
}

.containerCount .buttonAddItem:hover{
    color: rgb(255, 166, 0);
}

.containerCount .buttonAddItem:disabled{
    background-color:grey;
    color: rgb(83, 83, 83);
}