/* ---------------------------------------------------------------------------------NAV DIV---------------------*/
.navBar{
    width: 100%;
    height: 80px;
    display: flex;
}

.iconMenu{
    font-size: 2.8rem;
    margin: 10px;
    color: var(--color-segundario);
    cursor: pointer;
}
.iconMenu:hover{
    color: var(--color-hover1);}

.navBar .leftSide{
    flex: 30%;
}

.navBar .rightSide{
    flex: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------------------------------------------------------------------------LOGO NAV---------------------*/
.navLogo {
    font-size: 3rem;
    line-height: 20px;
    font-weight: bold;
    text-shadow: 1px 1px;
    margin-left:10px;}

.navLogo a{
    color:var(--color-segundario); }

.navLogo a .logoText{
    padding: 10px ;
    letter-spacing:2px;
    text-shadow: 0 0 3px #414141, 0 0 5px #272727;
}

.navLogo a:hover{
    color: #b6b6b6;
    transition: 0s,0.5s; }
/* ---------------------------------------------------------------------------------ITEM NAV---------------------*/
.navBar .rightSide .links{
    display: flex;
    max-height: 80px;
    justify-content: center;
    align-items: center;
}
.navBar .rightSide .iconMenu{
    display: none;
    
}
.navBar .rightSide #hidden{
    display: flex;
}
/* ------------------------------------------------------------------------------------@MEDIAS-------------------*/
@media only screen and (max-width:650px){
    .navBar .rightSide {
        display: flex;
        justify-content: flex-end;}

    .navBar .rightSide .iconMenu{
        display: flex; }

    .navLogo {
        margin-right: 10px;}
    
    .navBar .rightSide .links{
        display: none;}

    .navBar .rightSide #hidden{
        position: absolute;
        left: 0px;
        top: 80px;
        height: 100%;
        max-height: 290px;
        max-width: auto;
        width: 100%;
        background-color:gold;
        display:flex;
        flex-direction: column;
        align-items: center;}
}
